html{
    margin: 0;
    height: 100%;
}
body{
    box-sizing: border-box;
    background-color: hsl(220, 15%, 55%);
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* position: absolute;
    top: 20%;
    bottom: 20%; */
}

.center_div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.g_container{
    width: 20rem;
    height: 32rem;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 2rem;
    padding: 1.5rem;
}

.qr_container{
    height: 19rem;
    background: url("images/image-qr-code.png") center/cover;
    border-radius: 1rem;

}

.info{
    text-align: center;
    margin-top: 2rem;
    padding: 0 1.5rem;
}

.info h2{
    color: hsl(218, 44%, 22%);
    font-family: Outfit, sans-serif;
    font-weight: 700;
}

#scan_text{
    color: hsl(220, 15%, 55%);
    font-family: Outfit, sans-serif;
    font-weight: 400;
}

/* .qr_container img{
    width: 240px;
    height: 288px;
} */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
    }
